<div style="margin-left: 40px">
  <form dForm [layout]="layoutDirection" ngForm>

    <d-form-item>
      <d-form-label [required]="true" [hasHelp]="true" [helpTips]="'This is the name of the player'">Name</d-form-label>
      <d-form-control>
        <div>
          <input dTextInput autocomplete="off" name="userName" [(ngModel)]="formData.inputValue"/>
        </div>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label [required]="true">Select</d-form-label>
      <d-form-control>
        <d-select [options]="selectOptions" name="select1" [filterKey]="'label'"
                  [(ngModel)]="formData.selectValue"></d-select>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label>Description</d-form-label>
      <d-form-control>
        <textarea dTextarea name="desc" maxlength="200" [readOnly]="true"
                  [(ngModel)]="formData.selectValue.description"></textarea>
      </d-form-control>
    </d-form-item>

    <d-form-item>
      <d-form-label>Solution of Code</d-form-label>
      <d-form-control>
        <textarea dTextarea name="desc2" maxlength="10000" style="height: 400px" (keydown.enter)="onKeydown($event)"
                  [(ngModel)]="formData.script"></textarea>
      </d-form-control>
    </d-form-item>

    <d-form-operation>
      <section>
        <d-toast [life]="5000" [value]="msgs" [styleClass]="'custom-class'" [lifeMode]="'global'"></d-toast>
        <d-button bsStyle="primary" style="margin-right: 4px" (btnClick)="submit()">Submit</d-button>
      </section>
    </d-form-operation>
  </form>
</div>
